<ng-container *ngIf="$checkpointsviewinformation | async as checkpoints">
  <div class="w-full">
    <p-table
      [value]="checkpoints"
      styleClass="p-datatable-customers p-datatable-sm p-datatable-gridlines p-datatable-striped shadow-2"
      [tableStyle]="{'width': '100%'}"
      [rowHover]="true"
      responsiveLayout="scroll"
      [scrollable]="true"
      scrollHeight="flex">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 80px">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.logo' | translate }}</span>
            </div>
          </th>
          <th style="width: 25%">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.address' | translate }}</span>
            </div>
          </th>
          <th style="width: 15%" class="hide">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.city' | translate }}</span>
            </div>
          </th>
          <th style="width: 15%">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.distance' | translate }}</span>
            </div>
          </th>
          <th style="width: 20%">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.opens' | translate }}</span>
            </div>
          </th>
          <th style="width: 20%">
            <div class="flex align-items-center gap-2">
              <span>{{ 'checkpointTable.closes' | translate }}</span>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-check>
        <tr class="p-selectable-row">
          <td>
            <div class="flex align-items-center justify-content-center">
              <p-image width="40" height="40" src="{{check.site.image}}" alt="Image" [preview]="false"></p-image>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-map-marker text-primary-600"></i>
              <span>{{check.site.adress}}</span>
            </div>
          </td>
          <td class="hide">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-building text-primary-600"></i>
              <span>{{check.site.place}}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-arrows-h text-primary-600"></i>
              <span>{{check.distance}}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-clock text-primary-600"></i>
              <span>{{check.opens}}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-clock text-primary-600"></i>
              <span>{{check.closing}}</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4">
            <div class="flex align-items-center justify-content-center gap-2">
              <i class="pi pi-folder-open text-primary" style="font-size: 1.5rem"></i>
              <span class="font-bold text-lg">{{ 'checkpointTable.noCheckpointsFound' | translate }}</span>
              <span class="text-600">- {{ 'checkpointTable.noCheckpointsOnTrack' | translate }}</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
