<brevet-overlay [heigth]="'250'" [showCloseIcon]="false" [icon]="'p-button-rounded p-button-info pi pi-info'">
  <dl class="dl-horizontal">
    <dt>Titel:</dt>
    <dd>{{event.title}}</dd>
    <dd class="line-break"></dd>
    <dt>Startdatum:</dt>
    <dd>{{event.startdate}}</dd>
    <dd class="line-break"></dd>
    <dt>Slutdataum</dt>
    <dd>{{event.enddate}}</dd>
    <dd class="line-break"></dd>
    <dt>Aktiv</dt>
    <dd>{{event.active | yesNo}}</dd>
    <dd class="line-break"></dd>
    <dt>Inställd</dt>
    <dd>{{event.canceled | yesNo}}</dd>
    <dd class="line-break"></dd>
    <dt>Slutförd</dt>
    <dd>{{event.completed | yesNo}}</dd>
    <dd class="line-break"></dd>
  </dl>
</brevet-overlay>
