<div class="flex justify-content-start mt-4">
  <p-button (click)="addControl()" label="Lägg till kontroll"  icon="" styleClass="p-button-sm p-button-success"></p-button>

</div>
<!--{{rusatimeControls |json}}-->
<ng-container *ngFor="let control of rusatimeControls; index as i">
<p-card styleClass="mt-1">
  <div class="grid p-fluid">
    <div class="col-12 lg:col-5 md:col-5">
      <span><strong>Kontrollplats</strong></span>
      <brevet-site-selector (SiteChange)="addSite($event, i)" [styleClass]="''"></brevet-site-selector>
    </div>
    <div class="col-12 lg:col-5 md:col-5">
      <span><strong>Distans</strong></span>
      <div class="p-inputnumber-wrapper">
        <p-inputNumber
          [(ngModel)]="control.DISTANCE"
          (ngModelChange)="publish($event, i)"
          [min]="0"
          [minFractionDigits]="0"
          [maxFractionDigits]="1"
          max="2000"
          id="controllength-{{i}}"
          [showButtons]="true"
          suffix=" km"
          [tabindex]="i + 1"
          styleClass="p-inputnumber-sm custom-input-height">
        </p-inputNumber>
      </div>
    </div>
    <div class="col-12 lg:col-2 md:col-2 flex align-items-end justify-content-start">
      <button pButton pRipple type="button" icon="pi pi-trash"
        class="p-button-rounded p-button-danger p-button-sm"
        (click)="removeControl(i)"
        pTooltip="Ta bort kontroll"
        tooltipPosition="top">
      </button>
    </div>
  </div>
</p-card>
</ng-container>

<style>
  /* Custom styles to match p-dropdown height */
  .custom-input-height .p-inputnumber,
  .custom-input-height .p-inputtext {
    height: 2.357rem !important; /* Match p-dropdown height */
  }

  .custom-input-height .p-inputnumber-button {
    height: 1.1785rem !important; /* Half of input height */
  }

  .p-inputnumber-wrapper {
    display: flex;
    align-items: center;
  }
</style>
