<ng-container *ngIf="init$ | async as init">

  <ng-container *ngIf="($authenticated | async) === true">

    <main id="main" role="main" class="flex-shrink-0 mb-0">

<!--      Lägg in topbanner med info om vem som är inloggad språkval samt logga ut länk-->
<!--      <brevet-menu></brevet-menu>-->
      <div class="container-fluid">
      <brevet-menu></brevet-menu>
      </div>
      <div class="container">

        <router-outlet></router-outlet>
      </div>
    </main>
  </ng-container>
  <ng-container *ngIf="($authenticated | async) === false">
   <brevet-login></brevet-login>
  </ng-container>
</ng-container>
<!--  Lägg in footer-->
