<brevet-overlay [heigth]="'250'" [showCloseIcon]="false" [icon]="'p-button-rounded p-button-info pi pi-info'">
    <dl class="dl-horizontal">
      <dt>Plats:</dt>
      <dd>{{site.place}}</dd>
      <dd class="line-break"></dd>
      <dt>Adress:</dt>
      <dd>{{site.adress}}</dd>
      <dd class="line-break"></dd>
      <dt>Latitud:</dt>
      <dd>{{site.lat  === '0' ? "": site.lat}}</dd>
      <dd class="line-break"></dd>
      <dt>Longitud:</dt>
      <dd>{{site.lng === '0' ? "": site.lng}}</dd>
      <dd class="line-break"></dd>
      <dt>Info:</dt>
      <dd>{{site.description}}</dd>
      <dd class="line-break"></dd>
      <dt>Logga:</dt>
      <dd><img width="70" height="70" class="p-shadow-4" [src]="site.image"  alt="Bild"></dd>
    </dl>
</brevet-overlay>

