<div class="mt-4 ml-2">

  <h3>Här kan du ladda upp deltagare med en csv fil</h3>
  <!--<input type="text" (ngModelChange)="updateTtrack()" pInputText [(ngModel)]="trackuid"/>-->

  <!--<brevet-track-selector (open)="updateTtrack($event)"></brevet-track-selector>-->

  <brevet-tracks-for-event-selector (trackChange)="updateTtrack($event)"></brevet-tracks-for-event-selector>

</div>


<div class="mt-3 col-8">
<p-fileUpload [disabled]="!trackuid"
  chooseLabel="Välj csv"
  uploadLabel="Ladda upp csv"
  name="myfile[]"
  [customUpload]="true" (uploadHandler)="myUploader($event)">
</p-fileUpload>
</div>

