:host ::ng-deep {
  .p-fileupload-basic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start !important;
    gap: var(--p-fileupload-basic-gap);
    margin-top: 0.5rem;
    padding-left: 0;
  }
}
