<div class="p-dialog-content">
<form>
  <div class="form-group">
    <h4>Användaruppgifter</h4>
    <div class="form-group">
      <label class="col-form-label" for="fornamn">Förnamn</label>
      <input pInputText pTooltip="Förnamn" [maxLength]="50" tooltipPosition="left"  type="text" class="form-control form-control" id="fornamn" placeholder="Förnamn" required>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="efternamn">Efternamn</label>
      <input pTooltip="Efternamn"  tooltipPosition="left" type="text" class="form-control form-control" id="efternamn" placeholder="Efternamn">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="anvandarnamn">Användarnamn</label>
      <input  pTooltip="Användarnamn"  tooltipPosition="left" title="Användarnamn" class="form-control form-control" id="anvandarnamn" placeholder="Användarnamn email">
    </div>
    <h4>Kontaktuppgifter</h4>
    <div class="form-row">
      <div class="col-lg-5 col-sm-3 mb-2">
        <input type="text" pTooltip="Telefon"  tooltipPosition="left"  class="form-control form-control" placeholder="Telefon">
      </div>
      <div class="col-lg-7 col-sm-5 mb-2">
        <label class="sr-only" for="inlineFormInputGroup">Email</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input pTooltip="Email"  type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
        </div>
      </div>
    </div>
  <p>Behörigheter</p>
    <div class="form-check-inline">
      <label pTooltip="Superanvändare med alla behörigheter"  tooltipPosition="top" class="form-check-label">
        <input pInputText    type="checkbox" class="form-check-input" value="">Superuser
      </label>
    </div>
    <div class="form-check-inline">
      <label pTooltip="Administratör med skriv och läsrättigheter"  tooltipPosition="top" class="form-check-label">
        <input    type="checkbox" class="form-check-input" value="">Admin
      </label>
    </div>
    <div class="form-check-inline">
      <label pTooltip="Läsbehörighet och viss skrivbehörighet"  tooltipPosition="top" class="form-check-label">
        <input   type="checkbox" class="form-check-input" value="" >User
      </label>
    </div>
    <div class="form-check-inline">
      <label pTooltip="Behörighet att checka in och se passeringar vid kontroller"  tooltipPosition="top" class="form-check-label">
        <input type="checkbox"   class="form-check-input" value="" >Volontär
      </label>
    </div>
  </div>

</form>
  </div>
  <div class="p-dialog-footer">
  <span class="p-buttonset">
    <button pTooltip="Klicka för att spara" tooltipPosition="left" pButton pRipple label="Save" (click)="addUser()" icon="pi pi-check" class="p-button-sm"></button>
    <button pTooltip="Klicka för att avbryta" pButton pRipple label="Cancel" (click)="cancel()"  icon="pi pi-times" class="p-button-sm"></button>
</span>
</div>


