<form #contactForm="ngForm" (ngSubmit)="addUser(contactForm)" novalidate>
  <div class="p-dialog-content">
    <div class="grid p-fluid">


      <div class="col-6 field mb-3">
        <label for="givenname" class="block mb-2 font-medium">
          <i class="pi pi-user mr-2"></i>Förnamn
        </label>
        <input pInputText
               id="givenname"
               #givenname="ngModel"
               name="givenname"
               [(ngModel)]="userForm.givenname"
               placeholder="Förnamn"
               required>
      </div>

      <div class="col-6 field mb-3">
        <label for="familyname" class="block mb-2 font-medium">
          <i class="pi pi-user mr-2"></i>Efternamn
        </label>
        <input pInputText
               id="familyname"
               #familyname="ngModel"
               name="familyname"
               [(ngModel)]="userForm.familyname"
               placeholder="Efternamn"
               required>
      </div>

      <div class="col-12 field mb-4">
        <label for="username" class="block mb-2 font-medium">
          <i class="pi pi-id-card mr-2"></i>Användarnamn
        </label>
        <input pInputText
               id="username"
               #username="ngModel"
               name="username"
               [(ngModel)]="userForm.username"
               placeholder="Användarnamn"
               required>
      </div>

      <div class="col-12">
        <span class="text-xl block mb-4">Kontaktuppgifter</span>
      </div>

      <div class="col-6 field mb-4">
        <label for="phone" class="block mb-2 font-medium">
          <i class="pi pi-phone mr-2"></i>Telefon
        </label>
        <input pInputText
               id="phone"
               name="phone"
               [(ngModel)]="userForm.phone"
               placeholder="Telefon">
      </div>

      <div class="col-6 field mb-4">
        <label for="email" class="block mb-2 font-medium">
          <i class="pi pi-at mr-2"></i>Email
        </label>
        <div class="p-inputgroup">

          <input pInputText
                 id="email"
                 name="email"
                 [(ngModel)]="userForm.email"
                 placeholder="Email">
        </div>
      </div>

      <div class="col-12">
        <span class="text-xl block mb-4">Behörigheter</span>
      </div>


      @if (canAddRole(Role.SUPERUSER) || canAddRole(Role.ADMIN)) {
        <div class="col-12">
          <div class="flex flex-wrap gap-5">
            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.admin"
                         name="admin"
                         [binary]="true"
                         inputId="admin">
              </p-checkbox>
              <label for="admin" class="ml-2 font-medium">Admin</label>
            </div>

            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.user"
                         name="user"
                         [binary]="true"
                         inputId="user">
              </p-checkbox>
              <label for="user" class="ml-2 font-medium">User</label>
            </div>

            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.volonteer"
                         name="volonteer"
                         [binary]="true"
                         inputId="volonteer">
              </p-checkbox>
              <label for="volonteer" class="ml-2 font-medium">Volontär</label>
            </div>
          </div>
        </div>
      }



      @if (canAddRole(Role.SUPERUSER)) {
        <div class="col-12 mb-4">
          <div class="flex flex-wrap gap-5">
            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.superuser"
                         name="superuser"
                         [binary]="true"
                         inputId="superuser">
              </p-checkbox>
              <label for="superuser" class="ml-2 font-medium">Superuser</label>
            </div>

            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.acprepresentant"
                         name="acprepresentant"
                         [binary]="true"
                         inputId="acprepresentant">
              </p-checkbox>
              <label for="acprepresentant" class="ml-2 font-medium">AcpRepresentant</label>
            </div>

            <div class="flex align-items-center">
              <p-checkbox [(ngModel)]="userForm.developer"
                         name="developer"
                         [binary]="true"
                         inputId="developer">
              </p-checkbox>
              <label for="developer" class="ml-2 font-medium">Utvecklare</label>
            </div>
          </div>
        </div>
      }


    </div>
  </div>

  <div class="p-dialog-footer">
    <span class="p-buttonset">
      <button pButton
              pRipple
              type="submit"
              [disabled]="!contactForm.valid"
              label="Spara"
              icon="pi pi-save"
              class="p-button-sm">
      </button>
      <button pButton
              pRipple
              type="button"
              label="Avbryt"
              (click)="cancel()"
              icon="pi pi-times"
              class="p-button-sm p-button-outlined">
      </button>
    </span>
  </div>
</form>



