<brevet-overlay [heigth]="'150'" [showCloseIcon]="false" [icon]="'p-button-rounded p-button-info pi pi-info'">
  <dl class="dl-horizontal">
    <dt>Namn:</dt>
    <dd>{{ event.name }}</dd>
    <dd class="line-break"></dd>
    <dt>Kontaktperson:</dt>
    <dd>{{ event.contact_person }}</dd>
    <dd class="line-break"></dd>
    <dt>Epost:</dt>
    <dd>{{ event.email }}</dd>
    <dd class="line-break"></dd>
    <dt>Telefon</dt>
    <dd>{{ event.phone }}</dd>
    <dd class="line-break"></dd>
  </dl>
</brevet-overlay>

