<!--{{siteform |json}}-->
<form #eventFormName="ngForm" (ngSubmit)="addEvent(eventFormName)" novalidate>
  <div class="p-dynamicdialog">
    <div class="p-dialog-content">
      <!-- Place -->
      <div class="field">
        <label class="block mb-2">
          <i class="pi pi-map-marker mr-2"></i>
          <strong>Plats</strong>
        </label>
        <span class="p-float-label p-input-icon-right">
          <input
            pInputText
            id="place"
            name="place"
            #place="ngModel"
            [(ngModel)]="siteform.place"
            required
            class="p-inputtext w-full"
            placeholder="Broparken">
        </span>
      </div>

      <!-- Address -->
      <div class="field">
        <label class="block mb-2">
          <i class="pi pi-home mr-2"></i>
          <strong>Adress</strong>
        </label>
        <span class="p-float-label p-input-icon-right">
          <input
            pInputText
            id="adress"
            name="adress"
            #adress="ngModel"
            [(ngModel)]="siteform.adress"
            required
            class="p-inputtext w-full"
            placeholder="Brogatan 1">
        </span>
      </div>

      <!-- Coordinates -->
      <div class="grid">
        <div class="col-6">
          <div class="field">
            <label class="block mb-2">
              <i class="pi pi-map mr-2"></i>
              <strong>Latitud</strong>
            </label>
            <p-inputNumber
              id="lat"
              name="lat"
              #lat="ngModel"
              [(ngModel)]="siteform.lat"
              [required]="true"
              mode="decimal"
              [minFractionDigits]="6"
              class="w-full">
            </p-inputNumber>
          </div>
        </div>
        <div class="col-6">
          <div class="field">
            <label class="block mb-2">
              <i class="pi pi-map mr-2"></i>
              <strong>Longitud</strong>
            </label>
            <p-inputNumber
              id="long"
              name="long"
              #lng="ngModel"
              [(ngModel)]="siteform.long"
              [required]="true"
              mode="decimal"
              [minFractionDigits]="6"
              class="w-full">
            </p-inputNumber>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="field">
        <label class="block mb-2">
          <i class="pi pi-align-left mr-2"></i>
          <strong>Description</strong>
        </label>
        <p-editor
          [(ngModel)]="siteform.description"
          name="description"
          [style]="{'height':'200px'}"
          class="w-full">
        </p-editor>
      </div>

      <!-- File Upload -->
      <div class="field">
        <label class="block mb-2">
          <i class="pi pi-upload mr-2"></i>
          <strong>Ladda upp bild</strong>
        </label>
        <p-fileUpload
          #primeFileUpload
          mode="basic"
          [auto]="true"
          chooseLabel="Välj fil"
          name="myfile[]"
          accept="image/*"
          [maxFileSize]="1000000"
          (uploadHandler)="myUploader($event)"
          (onProgress)="progressReport($event)"
          styleClass="w-full"
          [style]="{'justify-content': 'flex-start'}">
        </p-fileUpload>
      </div>
    </div>

    <!-- Footer -->
    <div class="p-dialog-footer">
      <div class="flex justify-content-end gap-2">
        <p-button
          type="submit"
          [disabled]="!eventFormName.valid"
          label="Save"
          icon="pi pi-check"
          styleClass="p-button-sm">
        </p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-sm p-button-secondary"
          (onClick)="cancel()">
        </p-button>
      </div>
    </div>
  </div>
</form>







