

@import "table/table";
@import "button/button";

body {

 //background-color: var(--surface-ground);;
}

body .p-component
{
  font-size: 0.9rem;
}

	@media screen and (max-width: 700px) {
	body .p-component
  {
    font-size: 1.3rem;
  }
	}


		@media screen and (max-width: 500px) {
      	body .p-component {
            font-size: 0.9rem;
        }
  	}

  			@media screen and (max-width: 350px) {
          	body .p-component {
                font-size: 0.5rem;
            }
      	}




