:host ::ng-deep {

 .p-menubar {
   font-size: 0.9rem;
   padding: 0 0.9rem;
   background-color: var(--purple-20);
   display: flex;
   align-items: center;
 }

 .linkunde {
   text-decoration: none;
 }

 .start-number {
   background-color: yellow;
   padding: 0.3rem 0.6rem;
   border-radius: 4px;
   display: inline-block;
 }

 .flex-grow-1 {
   flex-grow: 1;
 }

 .text-center {
   text-align: center;
 }

	@media screen and (max-width: 500px) {
	   .p-menubar {
       font-size: 0.6rem;
       padding: 0 0.6rem;
       background-color: var(--purple-20);
     }
	}
	}





