#loader {
  position: fixed;
  z-index: 2000;
  pointer-events: none;

  > div {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0); /* Fully transparent */
    pointer-events: all;
    /* Removed backdrop-filter */
  }

  ::ng-deep .custom-spinner {
    transform: scale(1.5);
    .p-progress-spinner-circle {
      animation: p-progress-spinner-dash 1.5s ease-in-out infinite, p-progress-spinner-color 6s ease-in-out infinite;
      stroke-width: 4px;
    }
  }
}

@keyframes p-progress-spinner-color {
  0% {
    stroke: #4CAF50;
  }
  25% {
    stroke: #2196F3;
  }
  50% {
    stroke: #FF9800;
  }
  75% {
    stroke: #f44336;
  }
  100% {
    stroke: #4CAF50;
  }
}

@keyframes p-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

