


 .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
        padding: 0.3rem 0.3rem;
        padding-left: 0.5rem;
    }

    .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
        padding: 0.3rem 0.3rem;
         padding-left: 0.5rem;
    }


