

<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <div class="certification-text">
        <div class="certification-main">{{ 'login.title' | displayTranslate }}</div>
        <div class="certification-sub">DIGITALT BREVET-KORT MED GPS VALIDERING</div>
      </div>
      <div class="logo-container">
        <brevet-logo [heigth]="280" [width]="280"></brevet-logo>
      </div>
    </div>

    <form name="form" #form="ngForm" *ngIf="loginModel$ | async as model" (ngSubmit)="login()" class="login-form">
      <div class="form-group">
        <div class="input-container">
          <i class="pi pi-user input-icon"></i>
          <input
            type="text"
            class="form-control"
            [placeholder]="'login.username' | displayTranslate"
            name="username"
            [(ngModel)]="model.username"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container">
          <i class="pi pi-lock input-icon"></i>
          <input
            type="password"
            class="form-control"
            [placeholder]="'login.password' | displayTranslate"
            name="password"
            [(ngModel)]="model.password"
            required>
        </div>
      </div>

      <div class="form-group">
        <button
          class="login-button"
          type="submit"
          [disabled]="!form.valid">
          <i class="pi pi-sign-in"></i>
          <span>{{ 'login.loginButton' | displayTranslate }}</span>
        </button>

        <div *ngIf="loginerror$ | async as error" class="error-message">
          <i class="pi pi-exclamation-triangle"></i>
          <span>{{error.meddelande.data}}</span>
        </div>
      </div>
    </form>
  </div>
</div>



