

<div class="login-form" >
  <form name="form" #form="ngForm"  *ngIf="loginModel$ | async as model" (ngSubmit)="login()" >
	  <div class="text-center sm:text-center lg:text-center text-xs mb-1">Certifierad av Audax Club Parisien</div>
	  <div class="text-center sm:text-center lg:text-center text-xs mb-2">DIGITALT BREVET-KORT MED GPS VALIDERING</div>
    <brevet-logo  [heigth]="320" [width]="320"></brevet-logo>

<br>
    <div class="form-group">
		<div *ngIf="prod" class="text-center sm:text-center lg:text-center text-xs mb-2"><a class="linkunde" href="http://www.ebrevet.org/demo"><div class="text-danger text-lg font-bold">TESTA DEMO</div></a></div>
		<div *ngIf="!prod" class="text-center sm:text-center lg:text-center text-xs mb-2"></div>
      <input type="text" class="form-control" placeholder="Username"  name="usernam"  [(ngModel)]="model.username" required>
    </div>
    <div class="form-group mt-2">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" required>
    </div>
    <div class="form-group">
		<button class="btn btn-primary btn-block mb-2 mt-2" label="Sign in" [disabled]="!form.valid">Sign in</button>
		<div *ngIf="loginerror$ | async as error">
			<div class="alert alert-primary" role="alert">
				{{error.meddelande.data}}
			</div>

		</div>
    </div>
  </form>
</div>



