<div class="flex justify-content-center">
  <form #form="ngForm" *ngIf="loginModel$ | async as model" (ngSubmit)="login()"
        class="surface-card p-4 border-round shadow-2 w-25rem">
    <div class="text-center text-xs mb-1">Certifierad av Audax Club Parisien</div>
    <div class="text-center text-xs mb-2">DIGITALT BREVET-KORT MED GPS VALIDERING</div>
    <div class="flex justify-content-center">
      <brevet-logo [heigth]="320" [width]="320"></brevet-logo>
    </div>
    <div *ngIf="prod" class="text-center text-xs mb-2">
      <a class="text-primary font-bold" href="http://www.ebrevet.org/demo">TESTA DEMO</a>
    </div>
    <div class="field mt-2">
      <p-floatlabel variant="on">
        <input class="w-full" name="username" pInputText id="username" [(ngModel)]="model.username" autocomplete="on"/>
        <label for="username">Username</label>
      </p-floatlabel>
    </div>
    <div class="field mt-2">
      <p-floatlabel variant="on">
        <input class="w-full" name="password" pInputText id="password" [(ngModel)]="model.password" autocomplete="on"/>
        <label for="password">Password</label>
      </p-floatlabel>
    </div>
    <div class="mt-3">
      <button pButton type="submit" label="Sign in" class="w-full" [disabled]="!form.valid"></button>
    </div>
    <div *ngIf="loginerror$ | async as error" class="mt-3">
      <p-message severity="info" [text]="error.meddelande.data"></p-message>
    </div>
  </form>
</div>

