
:host {
    ::ng-deep {


.test .p-inputgroup {
    /* display: flex; */
    align-items: stretch;
    width: 100%;
}



      .p-inputnumber, p-inputnumber {
          display: inline-flex;
          width: 100%;

      }



//.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component {
//    flex: 1 1 auto;
//    width: 20rem;
//}


    }
    }


