.custom-small-button {
  font-size: 0.75rem;
  padding: 0.25rem 0.8rem;
  height: 2rem;

  .p-button-icon {
    font-size: 0.75rem;
  }
}

.time-edit-card {
  background-color: var(--green-50);
  color: var(--green-900);

  &:hover {
    background-color: var(--green-100) !important;
  }
}

:host ::ng-deep .p-datatable {
  .p-datatable-tbody > tr > td {
    padding: 0.5rem;
  }

  .p-datatable-thead > tr > th {
    padding: 0.5rem;
  }
}
