<form #eventFormName="ngForm" (ngSubmit)="addEvent(eventFormName)" novalidate>
  <div class="p-dialog-content" style="max-width: 400px;">
    <div class="grid p-fluid">
      <div class="col-12 field mb-2">
        <label for="name" class="block mb-1">Arrangörsnamn</label>
        <input pInputText
               id="name"
               #name="ngModel"
               name="name"
               [(ngModel)]="eventForm.name"
               placeholder="Tex Ranonneurs laponia"
               required>
      </div>

      <div class="col-12 field mb-2">
        <label for="contactperson" class="block mb-1">Kontaktperson</label>
        <input pInputText
               id="contactperson"
               #contact_person="ngModel"
               name="contact_person"
               [(ngModel)]="eventForm.contact_person"
               placeholder="Tex Kalle Randonneur"
               required>
      </div>

      <div class="col-12 field mb-2">
        <label for="email" class="block mb-1">Email</label>
        <input pInputText
               id="email"
               #email="ngModel"
               name="email"
               [(ngModel)]="eventForm.email"
               placeholder="kontakt@arrangör.se"
               required>
      </div>

      <div class="col-12 field mb-2">
        <label for="phone" class="block mb-1">Telefon</label>
        <input pInputText
               id="phone"
               #phone="ngModel"
               name="phone"
               [(ngModel)]="eventForm.phone"
               placeholder="Tex 123 235"
               required>
      </div>
    </div>
  </div>

  <div class="p-dialog-footer">
    <div class="flex justify-content-end gap-2">
      <button pButton
              pRipple
              type="submit"
              [disabled]="!eventFormName.valid"
              label="Spara"
              icon="pi pi-check"
              class="p-button-sm">
      </button>
      <button pButton
              pRipple
              type="button"
              label="Avbryt"
              (click)="cancel()"
              icon="pi pi-times"
              class="p-button-sm p-button-outlined">
      </button>
    </div>
  </div>
</form>




