<div class="flex-container justify-content-center">
  <div class="card banner">
    <div class="card-header"> Welcome </div>
    <div class="card-body"><div class="container-fluid">
      <div class="text-center"><img src="./assets/images/logo.jpg" class="img-responsive center-block" alt="RCA" style="max-height: 300px; padding-bottom: 50px;">
      </div>
      <div class="text-center">Utvecklad för:</div>
      <div class="text-center"><h3>Cykelintresset Umeå</h3></div>
    </div>
    </div>
  </div>
</div>


<!--<style>-->
<!--  .flex-container {-->
<!--    display: flex;-->
<!--    background-color: #f1f1f1;-->
<!--  }-->

<!--  .flex-container > div {-->
<!--    background-color: DodgerBlue;-->
<!--    color: white;-->
<!--    width: 100px;-->
<!--    margin: 10px;-->
<!--    text-align: center;-->
<!--    line-height: 75px;-->
<!--    font-size: 30px;-->
<!--  }-->
<!--</style>-->

