/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "src/app/design/vbstyle";





.container {
font-size: 0.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}


@media (min-width: 1024px) {
  dl.dl-horizontal {
    display: table;
    flex-grow: inherit;
    min-width: 400px;
    dt, dd {
      width: auto;
      overflow: visible;
    }

    dt {
      display: table-cell;
      white-space: nowrap;
    }
    dd {
      //display: table-cell;
      //padding: 2% 5%;

      &.line-break {
        display: table-row;
      }
    }
  }


}





