<div class="grid container-fluid">
  <div class="ml-2 col-12 sm:col-12 lg:col-12">
    <H3>Välj ett event och bana</H3>
  </div>
  <div class="col-12 sm:col-12 md:col-5 lg:col-3">
    <ng-container *ngIf="$eventItems | async as events">
      <div class="col-12 sm:col-12 lg:col-12">
        <p-dropdown  styleClass="col-12" tooltipPosition="bottom" tooltip="Välj ett event" [options]="events" [(ngModel)]="choosen"  (ngModelChange)="valt()" placeholder="Välj event" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
      </div>
    </ng-container>
    <ng-container *ngIf="$test | async as tracks">
      <div class="col-12 sm:col-12 lg:col-12">
        <ng-container>
          <p-dropdown styleClass="col-12" [options]="tracks" [(ngModel)]="choosentrack"  (ngModelChange)="valdBana()"  placeholder="Välj bana" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="$checkpoints | async as checkpoints">
      <div class="lg:hidden  col-12 sm:col-12">
        <p-dropdown  styleClass="col-12" [options]="checkpoints" [(ngModel)]="hoosencheckpoint" (ngModelChange)="valdKontroll()"   placeholder="Välj kontroll" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
      </div>
      <div class="hidden md:inline-flex col-12 lg:col-12">
        <p-listbox class="lg:w-full md:w-full"  emptyMessage="Inga kontroller hittades"   styleClass="col-12 " [options]="checkpoints" [(ngModel)]="hoosencheckpoint" (ngModelChange)="valdKontroll()"  optionValue="value" optionLabel="label"></p-listbox>
      </div>
    </ng-container>

  </div>

  <div class="col-12 sm:col-12 lg:col-7 md:col-7">
    <div class="col-12">
        <p-table  *ngIf="randonneurs | async as randonneurs" sortMode="multiple" responsiveLayout="stack" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,75,100,125]" [value]="randonneurs.randonnerurs" styleClass="p-datatable-sm p-datatable-gridlines" >
          <ng-template pTemplate="caption">
            <div class="col-12 sm:col-12"><strong>{{randonneurs.choosenControl}}</strong></div>
            <div class="sm:col-12 sticky-top">
                <p-badge class="lg:hidden" pTooltip="Antal som passerat vald kontroll" tooltipPosition="top" [value]="randonneurs.statistics.countpassed" severity="success" styleClass="ml-2"></p-badge>
                <p-badge class="lg:hidden" pTooltip="Antal som brutit" tooltipPosition="top" [value]="randonneurs.statistics.dnf" severity="danger" styleClass="ml-2"></p-badge>
<!--                <p-knob class="lg:hidden" pTooltip="Andel som passerat" [(ngModel)]="randonneurs.statistics.percentageoff" size="28"  valueTemplate="{value}%"></p-knob>-->
            </div>
          </ng-template>
          <ng-template pTemplate="header" >
            <tr class="sticky-top">
              <th colspan="1"><strong>Antal som passerat:</strong>   <p-badge  pTooltip="Antal som passerat vald kontroll" tooltipPosition="top" [value]="randonneurs.statistics.countpassed" severity="success" styleClass="ml-2"></p-badge></th>
              <th colspan="2"> <strong>Antal DNF:</strong> <p-badge pTooltip="Antal som brutit" tooltipPosition="top" [value]="randonneurs.statistics.dnf" severity="danger" styleClass="ml-2"></p-badge></th>
              <th class="justify-content-center" colspan="2"> <p-knob pTooltip="Andel som passerat" tooltipPosition="top"  [(ngModel)]="randonneurs.statistics.percentageoff" size="50" valueTemplate="{value}%"></p-knob></th>
            </tr>
            <tr>
              <th class="w-2" pSortableColumn="startNumber">Startnumber <p-sortIcon field="startNumber"></p-sortIcon></th>
              <th class="w-3" pSortableColumn="givenName">Given Name <p-sortIcon field="givenName"></p-sortIcon></th>
              <th class="w-3" pSortableColumn="familyName">Family Name <p-sortIcon field="familyName"></p-sortIcon></th>
              <th class="lg:w-2">Checka in</th>
              <th class="lg:w-2">DNF</th>
            </tr>
          </ng-template>
          <ng-template *ngIf="randonneurs.randonnerurs.length > 0"   pTemplate="body" let-product>
            <tr [ngClass]="{'passed': product.passed === true, 'dnf': product.dnf === true,'dns': product.dns === true}">
              <td>{{product.startNumber}} </td>
              <td>{{product.givenName}}</td>
              <td>{{product.familyName}}</td>
              <td><button pTooltip="Checka in startnr: {{product.startNumber}} " tooltipPosition="top" pButton  type="button" label="Checkin" class="p-button-secondary  container-fluid"></button></td>
              <td><button pTooltip="Markera att deltagaren avser att bryta" tooltipPosition="top" pButton pRipple type="button" label="DNF" class="p-button-outlined p-button-danger container-fluid"></button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button"  styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>
    </div>
  </div>



</div>






