<ng-container *ngIf="$checkpoints | async as checkpoints">
  <p-table [value]="checkpoints" styleClass="p-datatable-sm p-datatable-striped"
           responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th class="lg:w-1">Logga</th>
        <th class="lg:w-auto">Adress</th>
        <th  class="lg:w-2">Ort</th>
        <th class="lg:w-1">Distans</th>
        <th class="lg:w-2">Incheckningar</th>
        <th class="lg:w-2">Åtgärd</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-check>
      <tr>
        <td>
          <p-image 
            width="40" 
            height="40" 
            [src]="check.checkpoint.site.image" 
            alt="Checkpoint Image" 
            [preview]="false"
            imageClass="border-round">
            <ng-template pTemplate="placeholder">
              <div class="flex align-items-center justify-content-center w-full h-full">
                <i class="pi pi-image text-primary-500" style="font-size: 1.5rem"></i>
              </div>
            </ng-template>
          </p-image>
        </td>
        <td>{{check.checkpoint.site.adress}}</td>
        <td>{{check.checkpoint.site.place}}</td>
        <td>{{check.checkpoint.distance}}</td>
        <td>{{check.stamptime | dateTimePrettyPrint}}</td>
        <td><button pButton [disabled]="$dim | async" (click)="checkin(check)" label="{{check.stamptime  != '' ? 'Ångra': 'Checka in'}}"  type="button"  class="p-button-secondary  container-fluid"></button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center p-2">
          <i class="pi pi-map-marker text-primary-600 align-middle" style="font-size: 0.875rem; line-height: 1"></i>
          <span class="text-600 align-middle ml-1">Välj en bana för att se deltagare</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

