
<ng-container *ngIf="$checkpoints | async as checkpoints">
  <div class="checkpoint-selector">
    <p-dropdown
      [pTooltip]="'volunteer.selectCheckpoint' | translate"
      tooltipPosition="left"
      styleClass="w-full ultra-compact-selector"
      [options]="checkpoints"
      [(ngModel)]="selectedcheckpoint"
      (ngModelChange)="valdKontroll()"
      [placeholder]="'volunteer.selectCheckpoint' | translate"
      [virtualScroll]="true"
      [itemSize]="36"
      [filter]="true"
      appendTo="body"
      [autoZIndex]="true"
      baseZIndex="10000">
    </p-dropdown>
  </div>
</ng-container>
