#map-wrapper {
    width: 100%;
    height: 500px;
    padding:0px;
    position: relative;
    //border: 1px solid black;
    //TODO: Skulle vara snyggare om kartan fyllde hela skärmen. Men Padding 15px på root hindrar
}

#map {
    width: 100%;
    height: 100%;
    background-color: green;
}

#button-wrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;
}