<div class="admin-dashboard">
  <!-- Page Header -->
  <div class="page-header">
    <div class="page-header-content">
      <div class="header-icon">
        <i class="pi pi-users"></i>
      </div>
      <div class="header-text">
        <h1>{{ 'participant.manageParticipants' | translate }}</h1>
        <p>{{ 'participant.manageParticipantsDescription' | translate }}</p>
      </div>
    </div>
  </div>


  <!-- Main Content -->
  <div class="admin-main">
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

