<ng-container *ngIf="$tracksviewinformation | async as tracks">
  <div class="w-full">
    <p-table
      [value]="tracks"
      styleClass="p-datatable-customers p-datatable-sm p-datatable-gridlines p-datatable-striped shadow-2"
      [tableStyle]="{'width': '100%'}"
      [rowHover]="true"
      dataKey="trackRepresentation.track_uid"
      responsiveLayout="scroll"
      [scrollable]="true"
      scrollHeight="flex">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th style="width: 20%">
            <div class="flex align-items-center gap-2">
              <span>Bana</span>
            </div>
          </th>
          <th style="width: 10%" class="hide">
            <div class="flex align-items-center gap-2">
              <span>Länk till bana</span>
            </div>
          </th>
          <th style="width: 15%">
            <div class="flex align-items-center gap-2">
              <span>Datum</span>
            </div>
          </th>
          <th style="width: 10%">
            <div class="flex align-items-center gap-2">
              <span>Distans</span>
            </div>
          </th>
          <th style="width: 15%">
            <div class="flex align-items-center gap-2">
              <span>Mer</span>
            </div>
          </th>
          <th style="width: 15%">
            <div class="flex align-items-center gap-2">
              <span>Länk till trackingsida</span>
            </div>
          </th>
          <th style="width: 10%">
            <div class="text-right">Åtgärd</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-track let-expanded="expanded">
        <tr class="p-selectable-row">
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="track"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </button>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-map text-primary"></i>
              <span class="font-semibold">{{track.trackRepresentation.title}}</span>
              <span style="color: red; font-weight: bold;">active: {{ track.trackRepresentation.active }}</span>
            </div>
          </td>
          <td class="hide">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-link text-primary-600"></i>
              <a target="_blank" href="{{track.trackRepresentation.linktotrack}}">Karta</a>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-calendar text-primary-600"></i>
              <span>{{track.trackRepresentation.start_date_time}}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-arrows-h text-primary-600"></i>
              <span>{{track.trackRepresentation.distance}}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center">
              <brevet-checkpoint-preview [track_uid]="track.trackRepresentation.track_uid"></brevet-checkpoint-preview>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i class="pi pi-link text-primary-600"></i>
              <brevet-html-link
                [target]="'_blank'"
                [text]="'Följ deltagare på bana'"
                [rel]="'relation.track.tracktrack'"
                [link]="track.trackRepresentation.links">
              </brevet-html-link>
            </div>
          </td>
          <td>
            <div class="flex justify-content-end gap-2">
              <button
                [disabled]="!isPossibleToDelete(track.trackRepresentation)"
                (click)="remove(track.trackRepresentation)"
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text"
                pTooltip="Ta bort"
                tooltipPosition="top">
              </button>
              <button
                *ngIf="track.trackRepresentation.active === true"
                (click)="publish(track.trackRepresentation)"
                [attr.data-track-uid]="track.trackRepresentation.track_uid"
                class="publish-btn"
                pButton
                pRipple
                class="p-button-rounded p-button-success p-button-text"
                pTooltip="Publicera resultat"
                tooltipPosition="top">
                <fa-icon [icon]="faBroadcast" [styles]="{'color': '#198754'}"></fa-icon>
              </button>
              <button
                *ngIf="track.trackRepresentation.active === false"
                (click)="publish(track.trackRepresentation)"
                [attr.data-track-uid]="track.trackRepresentation.track_uid"
                class="unpublish-btn"
                pButton
                pRipple
                class="p-button-rounded p-button-danger p-button-text"
                pTooltip="Ångra publicera resultat"
                tooltipPosition="top">
                <fa-icon [icon]="faBroadcast"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-track>
        <tr>
          <td colspan="8" style="padding: 0; background: var(--surface-ground)">
            <div class="w-full">
              <brevet-checkpoint-table [checkpoints]="track.trackRepresentation.checkpoints"></brevet-checkpoint-table>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="text-center p-4">
            <div class="flex align-items-center justify-content-center gap-2">
              <i class="pi pi-folder-open text-primary" style="font-size: 1.5rem"></i>
              <span class="font-bold text-lg">Inga banor hittades</span>
              <span class="text-600">- Det finns inga banor på det här eventet.</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>




