:host {
    ::ng-deep {

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-width: 0 0 2px 0;
    background: #ffffff;
    color: #6c757d;
    padding: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
}


}}
