<!--<div class="mt-2 sm:col-12 lg:col-9">-->
<!--  <p-tabView>-->
<!--    <p-tabPanel leftIcon="pi pi-fw pi-directions" [header]="'Banor'">-->
<!--      <brevet-track-list></brevet-track-list>-->
<!--    </p-tabPanel>-->
<!--    <p-tabPanel leftIcon="pi pi-fw pi-upload" [header]="'Ladda upp banor'">-->
<!--    <brevet-upload-track></brevet-upload-track>-->
<!--    </p-tabPanel>-->
<!--  </p-tabView>-->
<!--</div>-->


<div class="mt-2 sm:col-12 lg:col-8">
  <h4 class="mb-0"><i class="pi pi-directions" style="font-size: 1.3rem"></i> Banor</h4>
  <p-tabMenu styleClass="mr-2" [model]="designTabs"></p-tabMenu>
  <div class="mt-4 ml-2">
    <router-outlet></router-outlet>
  </div>
</div>
