<div class="flex-container justify-content-center">
  <div class="card banner">
    <div class="card-header"> Välkommen till Randonneur admin webb </div>
    <div class="card-body"><div class="container-fluid">
      <div class="text-center"><img src="./assets/brevet.PNG" class="img-responsive center-block" alt="RAW" style=" width:200px ;max-height: 250px; padding-bottom: 50px;">
      </div>
      <div class="text-center">Utvecklad för:</div>
      <div class="text-center"><h3>Cykelintresset Umeå</h3></div>
    </div>
    </div>
  </div>
</div>

